<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sucheng.dao.LogTransferDAO">

    <insert id="save" parameterType="com.sucheng.dos.LogTransferDO">
        insert into t_log_transfer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
				id,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="empId != null">
				emp_id,
			</if>
			<if test="storeId != null">
				store_id,
			</if>
			<if test="cashCount != null">
				cash_count,
			</if>
			<if test="cashPay != null">
				cash_pay,
			</if>
			<if test="wechatPay != null">
				wechat_pay,
			</if>
			<if test="aliPay != null">
				ali_pay,
			</if>
			<if test="bankcardPay != null">
				bankcard_pay,
			</if>
			<if test="vipCardPay != null">
				vip_card_pay,
			</if>
			<if test="aidCardPay != null">
				aid_card_pay,
			</if>
			<if test="otherPay != null">
				other_pay,
			</if>
			<if test="cashRemaining != null">
				cash_remaining,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
				#{id},
			</if>
			<if test="startTime != null">
				#{startTime},
			</if>
			<if test="endTime != null">
				#{endTime},
			</if>
			<if test="empId != null">
				#{empId},
			</if>
			<if test="storeId != null">
				#{storeId},
			</if>
			<if test="cashCount != null">
				#{cashCount},
			</if>
			<if test="cashPay != null">
				#{cashPay},
			</if>
			<if test="wechatPay != null">
				#{wechatPay},
			</if>
			<if test="aliPay != null">
				#{aliPay},
			</if>
			<if test="bankcardPay != null">
				#{bankcardPay},
			</if>
			<if test="vipCardPay != null">
				#{vipCardPay},
			</if>
			<if test="aidCardPay != null">
				#{aidCardPay},
			</if>
			<if test="otherPay != null">
				#{otherPay},
			</if>
			<if test="cashRemaining != null">
				#{cashRemaining},
			</if>
			
        </trim>
    </insert>

    <delete id="remove" parameterType="com.sucheng.dos.LogTransferDO">
        delete from t_log_transfer where id = #{id}
    </delete>

    <delete id="removeById" parameterType="long">
        delete from t_log_transfer where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_log_transfer where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="com.sucheng.dos.LogTransferDO">
        update t_log_transfer
        <set>
            <if test="id != null">
				id = #{id},
			</if>
			<if test="startTime != null">
				start_time = #{startTime},
			</if>
			<if test="endTime != null">
				end_time = #{endTime},
			</if>
			<if test="empId != null">
				emp_id = #{empId},
			</if>
			<if test="storeId != null">
				store_id = #{storeId},
			</if>
			<if test="cashCount != null">
				cash_count = #{cashCount},
			</if>
			<if test="cashPay != null">
				cash_pay = #{cashPay},
			</if>
			<if test="wechatPay != null">
				wechat_pay = #{wechatPay},
			</if>
			<if test="aliPay != null">
				ali_pay = #{aliPay},
			</if>
			<if test="bankcardPay != null">
				bankcard_pay = #{bankcardPay},
			</if>
			<if test="vipCardPay != null">
				vip_card_pay = #{vipCardPay},
			</if>
			<if test="aidCardPay != null">
				aid_card_pay = #{aidCardPay},
			</if>
			<if test="otherPay != null">
				other_pay = #{otherPay},
			</if>
			<if test="cashRemaining != null">
				cash_remaining = #{cashRemaining},
			</if>
			
        </set>
        where id = #{id}
    </update>

    <update id="updateActiveStatus" parameterType="com.sucheng.query.StatusQuery">
        update t_log_transfer set status = #{status} where id = #{id}
    </update>

    <sql id="select_columns">
        id, start_time, end_time, emp_id, store_id, cash_count, cash_pay, wechat_pay, ali_pay, bankcard_pay, vip_card_pay, aid_card_pay, other_pay, cash_remaining
    </sql>

    <select id="getById" parameterType="long" resultType="com.sucheng.dos.LogTransferDO">
        select
        <include refid="select_columns"/>
        from t_log_transfer where id = #{id}
    </select>

    <select id="listAll" resultType="com.sucheng.dos.LogTransferDO">
        select
        <include refid="select_columns"/>
        from t_log_transfer
        order by created_time desc
    </select>

    <select id="listPage" parameterType="com.sucheng.query.PageQuery" resultType="com.sucheng.dos.LogTransferDO">
        select
        <include refid="select_columns"/>
        from t_log_transfer
        order by created_time desc
        limit #{beginIndex}, #{pageSize}
    </select>

    <select id="count" resultType="long">
        select count(*) from t_log_transfer
    </select>

    <sql id="where_clause">
        <if test="query != null and query.id != null">
			id = #{id},
		</if>
		<if test="query != null and query.startTime != null">
			and start_time = #{startTime},
		</if>
		<if test="query != null and query.endTime != null">
			and end_time = #{endTime},
		</if>
		<if test="query != null and query.empId != null">
			and emp_id = #{empId},
		</if>
		<if test="query != null and query.storeId != null">
			and store_id = #{storeId},
		</if>
		<if test="query != null and query.cashCount != null">
			and cash_count = #{cashCount},
		</if>
		<if test="query != null and query.cashPay != null">
			and cash_pay = #{cashPay},
		</if>
		<if test="query != null and query.wechatPay != null">
			and wechat_pay = #{wechatPay},
		</if>
		<if test="query != null and query.aliPay != null">
			and ali_pay = #{aliPay},
		</if>
		<if test="query != null and query.bankcardPay != null">
			and bankcard_pay = #{bankcardPay},
		</if>
		<if test="query != null and query.vipCardPay != null">
			and vip_card_pay = #{vipCardPay},
		</if>
		<if test="query != null and query.aidCardPay != null">
			and aid_card_pay = #{aidCardPay},
		</if>
		<if test="query != null and query.otherPay != null">
			and other_pay = #{otherPay},
		</if>
		<if test="query != null and query.cashRemaining != null">
			and cash_remaining = #{cashRemaining},
		</if>
		
    </sql>

    <select id="listPageByCondition" resultType="com.sucheng.dos.LogTransferDO">
        select
        <include refid="select_columns"/>
        from t_log_transfer
        <where>
            <include refid="where_clause"/>
        </where>
        order by created_time desc
        limit #{beginIndex}, #{pageSize}
    </select>

    <select id="countByCondition" parameterType="com.sucheng.query.LogTransferQuery" resultType="long">
        select count(*) from t_log_transfer
        <where>
            <include refid="where_clause"/>
        </where>
    </select>

</mapper>
