<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sucheng.dao.OrdersDAO">

    <insert id="save" parameterType="com.sucheng.dos.OrdersDO">
        insert into t_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
				id,
			</if>
			<if test="storeId != null">
				store_id,
			</if>
			<if test="supplieId != null">
				supplie_id,
			</if>
			<if test="listName != null">
				list_name,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="orderTime != null">
				order_time,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
				#{id},
			</if>
			<if test="storeId != null">
				#{storeId},
			</if>
			<if test="supplieId != null">
				#{supplieId},
			</if>
			<if test="listName != null">
				#{listName},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="orderTime != null">
				#{orderTime},
			</if>
			
        </trim>
    </insert>

    <delete id="remove" parameterType="com.sucheng.dos.OrdersDO">
        delete from t_orders where id = #{id}
    </delete>

    <delete id="removeById" parameterType="long">
        delete from t_orders where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_orders where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="com.sucheng.dos.OrdersDO">
        update t_orders
        <set>
            <if test="id != null">
				id = #{id},
			</if>
			<if test="storeId != null">
				store_id = #{storeId},
			</if>
			<if test="supplieId != null">
				supplie_id = #{supplieId},
			</if>
			<if test="listName != null">
				list_name = #{listName},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="orderTime != null">
				order_time = #{orderTime},
			</if>
			
        </set>
        where id = #{id}
    </update>

    <update id="updateActiveStatus" parameterType="com.sucheng.query.StatusQuery">
        update t_orders set status = #{status} where id = #{id}
    </update>

    <sql id="select_columns">
        id, store_id, supplie_id, list_name, status, order_time
    </sql>

    <select id="getById" parameterType="long" resultType="com.sucheng.dos.OrdersDO">
        select
        <include refid="select_columns"/>
        from t_orders where id = #{id}
    </select>

    <select id="listAll" resultType="com.sucheng.dos.OrdersDO">
        select
        <include refid="select_columns"/>
        from t_orders
        order by created_time desc
    </select>

    <select id="listPage" parameterType="com.sucheng.query.PageQuery" resultType="com.sucheng.dos.OrdersDO">
        select
        <include refid="select_columns"/>
        from t_orders
        order by created_time desc
        limit #{beginIndex}, #{pageSize}
    </select>

    <select id="count" resultType="long">
        select count(*) from t_orders
    </select>

    <sql id="where_clause">
        <if test="query != null and query.id != null">
			id = #{id},
		</if>
		<if test="query != null and query.storeId != null">
			and store_id = #{storeId},
		</if>
		<if test="query != null and query.supplieId != null">
			and supplie_id = #{supplieId},
		</if>
		<if test="query != null and query.listName != null and query.listName != ''">
			and list_name = #{listName},
		</if>
		<if test="query != null and query.status != null and query.status != ''">
			and status = #{status},
		</if>
		<if test="query != null and query.orderTime != null">
			and order_time = #{orderTime},
		</if>
		
    </sql>

    <select id="listPageByCondition" resultType="com.sucheng.dos.OrdersDO">
        select
        <include refid="select_columns"/>
        from t_orders
        <where>
            <include refid="where_clause"/>
        </where>
        order by created_time desc
        limit #{beginIndex}, #{pageSize}
    </select>

    <select id="countByCondition" parameterType="com.sucheng.query.OrdersQuery" resultType="long">
        select count(*) from t_orders
        <where>
            <include refid="where_clause"/>
        </where>
    </select>

</mapper>
