<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sucheng.dao.ProductDAO">

    <insert id="save" parameterType="com.sucheng.dos.ProductDO">
        insert into t_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="storeId != null">
				store_id,
			</if>
			<if test="tasteId != null">
				taste_id,
			</if>
			<if test="typeId != null">
				type_id,
			</if>
			<if test="unitId != null">
				unit_id,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="proImg1 != null">
				pro_img1,
			</if>
			<if test="proImg2 != null">
				pro_img2,
			</if>
			<if test="proImg3 != null">
				pro_img3,
			</if>
			<if test="proImg4 != null">
				pro_img4,
			</if>
			<if test="priority != null">
				priority,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createdTime != null">
				created_time,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="storeId != null">
				#{storeId},
			</if>
			<if test="tasteId != null">
				#{tasteId},
			</if>
			<if test="typeId != null">
				#{typeId},
			</if>
			<if test="unitId != null">
				#{unitId},
			</if>
			<if test="price != null">
				#{price},
			</if>
			<if test="proImg1 != null">
				#{proImg1},
			</if>
			<if test="proImg2 != null">
				#{proImg2},
			</if>
			<if test="proImg3 != null">
				#{proImg3},
			</if>
			<if test="proImg4 != null">
				#{proImg4},
			</if>
			<if test="priority != null">
				#{priority},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="createdTime != null">
				#{createdTime},
			</if>
			
        </trim>
    </insert>

    <delete id="remove" parameterType="com.sucheng.dos.ProductDO">
        delete from t_product where id = #{id}
    </delete>

    <delete id="removeById" parameterType="long">
        delete from t_product where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_product where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="com.sucheng.dos.ProductDO">
        update t_product
        <set>
            <if test="id != null">
				id = #{id},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="storeId != null">
				store_id = #{storeId},
			</if>
			<if test="tasteId != null">
				taste_id = #{tasteId},
			</if>
			<if test="typeId != null">
				type_id = #{typeId},
			</if>
			<if test="unitId != null">
				unit_id = #{unitId},
			</if>
			<if test="price != null">
				price = #{price},
			</if>
			<if test="proImg1 != null">
				pro_img1 = #{proImg1},
			</if>
			<if test="proImg2 != null">
				pro_img2 = #{proImg2},
			</if>
			<if test="proImg3 != null">
				pro_img3 = #{proImg3},
			</if>
			<if test="proImg4 != null">
				pro_img4 = #{proImg4},
			</if>
			<if test="priority != null">
				priority = #{priority},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="createdTime != null">
				created_time = #{createdTime},
			</if>
			
        </set>
        where id = #{id}
    </update>

    <update id="updateActiveStatus" parameterType="com.sucheng.query.StatusQuery">
        update t_product set is_active = #{status} where id = #{id}
    </update>

    <sql id="select_columns">
        id, name, store_id, taste_id, unit_id, type_id, price, pro_img1, pro_img2, pro_img3, pro_img4, priority, status, created_time
    </sql>

    <select id="getById" parameterType="long" resultType="com.sucheng.dos.ProductDO">
        select
        <include refid="select_columns"/>
        from t_product where id = #{id}
    </select>

    <select id="listAll" resultType="com.sucheng.dos.ProductDO">
        select
        <include refid="select_columns"/>
        from t_product
        order by created_time desc
    </select>

    <select id="listPage" parameterType="com.sucheng.query.PageQuery" resultType="com.sucheng.dos.ProductDO">
        select
        <include refid="select_columns"/>
        from t_product
        order by created_time desc
        limit #{beginIndex}, #{pageSize}
    </select>

    <select id="count" resultType="long">
        select count(*) from t_product
    </select>

    <sql id="where_clause">
        <if test="query != null and query.id != null">
			id = #{query.id}
		</if>
		<if test="query != null and query.name != null and query.name != ''">
			and name = #{query.name}
		</if>
		<if test="query != null and query.tasteId != null">
			and taste_id = #{query.tasteId}
		</if>
		<if test="query != null and query.typeId != null">
			and type_id = #{query.typeId}
		</if>
		<if test="query != null and query.unitId != null">
			and unit_id = #{query.unitId}
		</if>
		<if test="query != null and query.price != null">
			and price = #{query.price}
		</if>
		<if test="query != null and query.proImg1 != null and query.proImg1 != ''">
			and pro_img1 = #{query.proImg1}
		</if>
		<if test="query != null and query.proImg2 != null and query.proImg2 != ''">
			and pro_img2 = #{query.proImg2}
		</if>
		<if test="query != null and query.proImg3 != null and query.proImg3 != ''">
			and pro_img3 = #{query.proImg3}
		</if>
		<if test="query != null and query.proImg4 != null and query.proImg4 != ''">
			and pro_img4 = #{query.proImg4}
		</if>
		<if test="query != null and query.priority != null">
			and priority = #{query.priority}
		</if>
		<if test="query != null and query.status != null and query.status != ''">
			and status = #{query.status}
		</if>
		<if test="query != null and query.createdTime != null">
			and created_time = #{query.createdTime}
		</if>
		
    </sql>

    <select id="listPageByCondition" resultType="com.sucheng.query.ProductQuery">
        select p.*, pt.name as typeName,u.unit, ta.taste
		from t_product p, t_pro_type pt, t_unit u, t_taste ta
        <where>
            <include refid="where_clause"/>
			<if test="true">
				and p.unit_id = u.id and p.type_id = pt.id and p.taste_id = ta.id
			</if>
			<if test="query != null and query.storeId != null">
				and p.store_id = #{query.storeId}
			</if>
        </where>
        order by p.created_time desc
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="countByCondition" parameterType="com.sucheng.query.ProductQuery" resultType="long">
        select count(*) from t_product
        <where>
            <include refid="where_clause"/>
			<if test="query != null and query.storeId != null">
				and store_id = #{query.storeId}
			</if>
        </where>
    </select>

</mapper>
