<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sucheng.dao.RawMaterialsDAO">

    <insert id="save" parameterType="com.sucheng.dos.RawMaterialsDO">
        insert into t_raw_materials
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="amount != null">
				amount,
			</if>
			<if test="unitId != null">
				unit_id,
			</if>
			<if test="supplierId != null">
				supplier_id,
			</if>
			<if test="birthTime != null">
				birth_time,
			</if>
			<if test="shelfTime != null">
				shelf_time,
			</if>
			<if test="deadTime != null">
				dead_time,
			</if>
			<if test="minStock != null">
				min_stock,
			</if>
			<if test="maxStock != null">
				max_stock,
			</if>
			<if test="storeId != null">
				store_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createdTime != null">
				created_time,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="price != null">
				#{price},
			</if>
			<if test="amount != null">
				#{amount},
			</if>
			<if test="unitId != null">
				#{unitId},
			</if>
			<if test="supplierId != null">
				#{supplierId},
			</if>
			<if test="birthTime != null">
				#{birthTime},
			</if>
			<if test="shelfTime != null">
				#{shelfTime},
			</if>
			<if test="deadTime != null">
				#{deadTime},
			</if>
			<if test="minStock != null">
				#{minStock},
			</if>
			<if test="maxStock != null">
				#{maxStock},
			</if>
			<if test="storeId != null">
				#{storeId},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="createdTime != null">
				#{createdTime},
			</if>
			
        </trim>
    </insert>

    <delete id="remove" parameterType="com.sucheng.dos.RawMaterialsDO">
        delete from t_raw_materials where id = #{id}
    </delete>

    <delete id="removeById" parameterType="long">
        delete from t_raw_materials where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_raw_materials where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="com.sucheng.dos.RawMaterialsDO">
        update t_raw_materials
        <set>
            <if test="id != null">
				id = #{id},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="price != null">
				price = #{price},
			</if>
			<if test="amount != null">
				amount = #{amount},
			</if>
			<if test="unitId != null">
				unit_id = #{unitId},
			</if>
			<if test="supplierId != null">
				supplier_id = #{supplierId},
			</if>
			<if test="birthTime != null">
				birth_time = #{birthTime},
			</if>
			<if test="shelfTime != null">
				shelf_time = #{shelfTime},
			</if>
			<if test="deadTime != null">
				dead_time = #{deadTime},
			</if>
			<if test="minStock != null">
				min_stock = #{minStock},
			</if>
			<if test="maxStock != null">
				max_stock = #{maxStock},
			</if>
			<if test="storeId != null">
				store_id = #{storeId},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="createdTime != null">
				created_time = #{createdTime},
			</if>
			
        </set>
        where id = #{id}
    </update>

    <update id="updateActiveStatus" parameterType="com.sucheng.query.StatusQuery">
        update t_raw_materials set is_active = #{status} where id = #{id}
    </update>

    <sql id="select_columns">
        id, name, price, amount, unit_id, supplier_id, birth_time, shelf_time, dead_time, min_stock, max_stock, store_id, status, created_time
    </sql>

    <select id="getById" parameterType="long" resultType="com.sucheng.dos.RawMaterialsDO">
        select
        <include refid="select_columns"/>
        from t_raw_materials where id = #{id}
    </select>

    <select id="listAll" resultType="com.sucheng.dos.RawMaterialsDO">
        select
        <include refid="select_columns"/>
        from t_raw_materials
        order by created_time desc
    </select>

    <select id="listPage" parameterType="com.sucheng.query.PageQuery" resultType="com.sucheng.dos.RawMaterialsDO">
        select
        <include refid="select_columns"/>
        from t_raw_materials
        order by created_time desc
        limit #{beginIndex}, #{pageSize}
    </select>

    <select id="count" resultType="long">
        select count(*) from t_raw_materials
    </select>

    <sql id="where_clause">
        <if test="query != null and query.id != null">
			id = #{query.id}
		</if>
		<if test="query != null and query.name != null and query.name != ''">
			and name = #{query.name}
		</if>
		<if test="query != null and query.price != null">
			and price = #{query.price}
		</if>
		<if test="query != null and query.amount != null">
			and amount = #{query.amount}
		</if>
		<if test="query != null and query.unitId != null and query.unitId != ''">
			and unit_id = #{query.unitId}
		</if>
		<if test="query != null and query.supplierId != null">
			and supplier_id = #{query.supplierId}
		</if>
		<if test="query != null and query.birthTime != null">
			and birth_time = #{query.birthTime}
		</if>
		<if test="query != null and query.shelfTime != null and query.shelfTime != ''">
			and shelf_time = #{query.shelfTime}
		</if>
		<if test="query != null and query.deadTime != null">
			and dead_time = #{query.deadTime}
		</if>
		<if test="query != null and query.minStock != null">
			and min_stock = #{query.minStock}
		</if>
		<if test="query != null and query.maxStock != null">
			and max_stock = #{query.maxStock}
		</if>
		<if test="query != null and query.status != null and query.status != ''">
			and status = #{query.status}
		</if>
		<if test="query != null and query.createdTime != null">
			and created_time = #{query.createdTime}
		</if>
		
    </sql>

    <select id="listPageByCondition" resultType="com.sucheng.query.RawMaterialsQuery">
        select raw.*, sup.name as supplierName, sup.phone, un.unit from t_raw_materials raw, t_supplier sup, t_unit un
        <where>
            <include refid="where_clause"/>
			<if test="true">
				and raw.supplier_id = sup.id
			</if>
			<if test="true">
				and raw.unit_id = un.id
			</if>
			<if test="query != null and query.storeId != null">
				and raw.store_id = #{query.storeId}
			</if>
        </where>
        order by raw.created_time desc
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="countByCondition" parameterType="com.sucheng.query.RawMaterialsQuery" resultType="long">
        select count(*) from t_raw_materials
        <where>
            <include refid="where_clause"/>
        </where>
    </select>

</mapper>
