<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sucheng.dao.StockOperatingDAO">

    <insert id="save" parameterType="com.sucheng.dos.StockOperatingDO">
        insert into t_stock_operating
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
				id,
			</if>
			<if test="rawId != null">
				raw_id,
			</if>
			<if test="inStockCount != null">
				in_stock_count,
			</if>
			<if test="outStockCount != null">
				out_stock_count,
			</if>
			<if test="unitId != null">
				unit_id,
			</if>
			<if test="empName != null">
				emp_name,
			</if>
			<if test="operatingTime != null">
				operating_time,
			</if>
			<if test="descript != null">
				descript,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
				#{id},
			</if>
			<if test="rawId != null">
				#{rawId},
			</if>
			<if test="inStockCount != null">
				#{inStockCount},
			</if>
			<if test="outStockCount != null">
				#{outStockCount},
			</if>
			<if test="unitId != null">
				#{unitId},
			</if>
			<if test="empName != null">
				#{empName},
			</if>
			<if test="operatingTime != null">
				#{operatingTime},
			</if>
			<if test="descript != null">
				#{descript},
			</if>
			
        </trim>
    </insert>

    <delete id="remove" parameterType="com.sucheng.dos.StockOperatingDO">
        delete from t_stock_operating where id = #{id}
    </delete>

    <delete id="removeById" parameterType="long">
        delete from t_stock_operating where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_stock_operating where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="com.sucheng.dos.StockOperatingDO">
        update t_stock_operating
        <set>
            <if test="id != null">
				id = #{id},
			</if>
			<if test="rawId != null">
				raw_id = #{rawId},
			</if>
			<if test="inStockCount != null">
				in_stock_count = #{inStockCount},
			</if>
			<if test="outStockCount != null">
				out_stock_count = #{outStockCount},
			</if>
			<if test="unitId != null">
				unit_id = #{unitId},
			</if>
			<if test="empName != null">
				emp_name = #{empName},
			</if>
			<if test="operatingTime != null">
				operating_time = #{operatingTime},
			</if>
			<if test="descript != null">
				descript = #{descript},
			</if>
			
        </set>
        where id = #{id}
    </update>

    <update id="updateActiveStatus" parameterType="com.sucheng.query.StatusQuery">
        update t_stock_operating set status = #{status} where id = #{id}
    </update>

    <sql id="select_columns">
        id, raw_id, in_stock_count, out_stock_count, unit_id, emp_name, operating_time, descript
    </sql>

    <select id="getById" parameterType="long" resultType="com.sucheng.dos.StockOperatingDO">
        select
        <include refid="select_columns"/>
        from t_stock_operating where id = #{id}
    </select>

    <select id="listAll" resultType="com.sucheng.dos.StockOperatingDO">
        select
        <include refid="select_columns"/>
        from t_stock_operating
        order by created_time desc
    </select>

    <select id="listPage" parameterType="com.sucheng.query.PageQuery" resultType="com.sucheng.dos.StockOperatingDO">
        select
        <include refid="select_columns"/>
        from t_stock_operating
        order by created_time desc
        limit #{beginIndex}, #{pageSize}
    </select>

    <select id="count" resultType="long">
        select count(*) from t_stock_operating
    </select>

    <sql id="where_clause">
        <if test="query != null and query.id != null">
			id = #{query.id}
		</if>
		<if test="query != null and query.rawId != null">
			and raw_id = #{query.rawId}
		</if>
		<if test="query != null and query.inStockCount != null">
			and in_stock_count = #{query.inStockCount}
		</if>
		<if test="query != null and query.outStockCount != null">
			and out_stock_count = #{query.outStockCount}
		</if>
		<if test="query != null and query.unitId != null and query.unitId != ''">
			and unit_id = #{query.unitId}
		</if>
		<if test="query != null and query.empName != null and query.empName != ''">
			and emp_name = #{query.empName}
		</if>
		<if test="query != null and query.operatingTime != null">
			and operating_time = #{query.operatingTime}
		</if>
		<if test="query != null and query.descript != null and query.descript != ''">
			and descript = #{query.descript}
		</if>
		
    </sql>

    <select id="listPageByCondition" resultType="com.sucheng.query.StockOperatingQuery">
        select so.*, u.unit, raw.name from t_stock_operating so, t_unit u, t_raw_materials raw
        <where>
            <include refid="where_clause"/>
			<if test="true">
				and so.unit_id = u.id and so.raw_id = raw.id
			</if>
			<if test="query != null and query.storeId != null">
				and raw.store_id = #{query.storeId}
			</if>
        </where>
        order by so.operating_time desc
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="countByCondition" parameterType="com.sucheng.query.StockOperatingQuery" resultType="long">
        select count(*) from t_stock_operating
        <where>
            <include refid="where_clause"/>
        </where>
    </select>

</mapper>
